@page "/courses"
@inject CourseService CourseService
@using Syncfusion.Blazor.Grids
@rendermode InteractiveServer

<h3>Courses</h3>

<SfGrid DataSource="@Courses">
    <GridColumns>
        <GridColumn Field="Title" HeaderText="Nome"></GridColumn>
    </GridColumns>
</SfGrid>

@code {
    public List<Course> Courses { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Courses = await CourseService.ListAsync();
    }
}
