@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MtbSchool4Kids</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calendar">
                <span class="bi bi-calendar3" aria-hidden="true"></span> Calendar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="courses">
                <span class="bi bi-people" aria-hidden="true"></span> Courses
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tours">
                <span class="bi bi-bicycle" aria-hidden="true"></span> Tours
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trainers">
                <span class="bi bi-person-arms-up" aria-hidden="true"></span> Trainers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kanban">
                <span class="bi bi-kanban" aria-hidden="true"></span> Trainer's Tasks
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pages">
                <span class="bi bi-file-earmark" aria-hidden="true"></span> CMS-Pages
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="certificates">
                <span class="bi bi-award" aria-hidden="true"></span> Certificates
            </NavLink>
        </div>
       
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

